<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
       <aop:config>
           <aop:aspect id="webServiceAspect" ref="serviceAspect">
            <aop:pointcut id="webServicePointCut" expression="execution(* info.liangsheng.spring.aop.ActivationService.*(..))"/>
            <aop:after-throwing method="doThrowing" pointcut-ref="webServicePointCut" throwing="ex"/>
           </aop:aspect>
       </aop:config>
       <bean id="activationService" class="info.liangsheng.spring.aop.ActivationService"></bean>
       <bean id="serviceAspect" class="info.liangsheng.spring.aop.ServiceAspect"></bean>
</beans>